<a href="https://colab.research.google.com/github/maryamalzahrani/Week_7_project/blob/main/Week_7_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 7 project
**Credit Card Fraud Detection**

In [ ]:
import numpy
import pandas 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os 
import warnings
warnings.filterwarnings('ignore')
#Packages related to data importing, manipulation, exploratory data #analysis, data understanding
from pandas import Series, DataFrame
from termcolor import colored as cl # text customization
from matplotlib.backends.backend_pdf import PdfPages
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import metrics
#Packages related to data visualizaiton
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data = pandas.read_csv('creditcard.csv',parse_dates=True,
                     index_col=0)
data

                 V1         V2        V3  ...       V28  Amount  Class
Time                                      ...
0.0       -1.359807  -0.072781  2.536347  ... -0.021053  149.62      0
0.0        1.191857   0.266151  0.166480  ...  0.014724    2.69      0
1.0       -1.358354  -1.340163  1.773209  ... -0.059752  378.66      0
1.0       -0.966272  -0.185226  1.792993  ...  0.061458  123.50      0
2.0       -1.158233   0.877737  1.548718  ...  0.215153   69.99      0
...             ...        ...       ...  ...       ...     ...    ...
172786.0 -11.881118  10.071785 -9.834783  ...  0.823731    0.77      0
172787.0  -0.732789  -0.055080  2.035030  ... -0.053527   24.79      0
172788.0   1.919565  -0.301254 -3.249640  ... -0.026561   67.88      0
172788.0  -0.240440   0.530483  0.702510  ...  0.104533   10.00      0
172792.0  -0.533413  -0.189733  0.703337  ...  0.013649  217.00      0

[284807 rows x 30 columns]

In [ ]:
Total_transactions = len(data)
normal = len(data[data.Class == 0])
fraudulent = len(data[data.Class == 1])
fraud_percentage = round(fraudulent/normal*100, 2)
print(cl('Total number of Trnsactions are {}'.format(Total_transactions), attrs = ['bold']))
print(cl('Number of Normal Transactions are {}'.format(normal), attrs = ['bold']))
print(cl('Number of fraudulent Transactions are {}'.format(fraudulent), attrs = ['bold']))
print(cl('Percentage of fraud Transactions is {}'.format(fraud_percentage), attrs = ['bold']))

Total number of Trnsactions are 284807
Number of Normal Transactions are 284315
Number of fraudulent Transactions are 492
Percentage of fraud Transactions is 0.17

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 284807 entries, 0.0 to 172792.0
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V1      284807 non-null  float64
 1   V2      284807 non-null  float64
 2   V3      284807 non-null  float64
 3   V4      284807 non-null  float64
 4   V5      284807 non-null  float64
 5   V6      284807 non-null  float64
 6   V7      284807 non-null  float64
 7   V8      284807 non-null  float64
 8   V9      284807 non-null  float64
 9   V10     284807 non-null  float64
 10  V11     284807 non-null  float64
 11  V12     284807 non-null  float64
 12  V13     284807 non-null  float64
 13  V14     284807 non-null  float64
 14  V15     284807 non-null  float64
 15  V16     284807 non-null  float64
 16  V17     284807 non-null  float64
 17  V18     284807 non-null  float64
 18  V19     284807 non-null  float64
 19  V20     284807 non-null  float64
 20  V21     284807 non-null  float64
 21  V22     284807 non-null  float64
 22  V23     284807 non-null  float64
 23  V24     284807 non-null  float64
 24  V25     284807 non-null  float64
 25  V26     284807 non-null  float64
 26  V27     284807 non-null  float64
 27  V28     284807 non-null  float64
 28  Amount  284807 non-null  float64
 29  Class   284807 non-null  int64
dtypes: float64(29), int64(1)
memory usage: 67.4 MB

In [ ]:
X = data.drop('Class', axis = 1).values
y = data['Class'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [ ]:
X_train

array([[ 1.38752494e+00, -5.47811116e-01,  7.64222562e-02, ...,
        -9.65601597e-02, -1.48461215e-02,  3.13500000e+01],
       [ 1.02117876e+00, -1.94113665e-01,  1.20779128e+00, ...,
         9.11875105e-02,  3.59594694e-02,  4.12900000e+01],
       [-1.13445277e+00,  6.36842930e-01,  2.45724140e+00, ...,
         5.72469651e-02,  1.02960891e-01,  2.32700000e+01],
       ...,
       [-1.14996324e+00,  1.69646167e+00,  1.63711373e+00, ...,
        -1.62046536e-01,  3.11927890e-02,  7.58000000e+00],
       [ 1.75455368e+00, -6.99398285e-01, -7.63321406e-02, ...,
        -5.85290816e-03, -1.96220758e-02,  9.48000000e+01],
       [-7.07635006e-01,  4.93302266e-01,  2.64808871e+00, ...,
        -3.85588609e-01, -2.05588932e-01,  5.78000000e+01]])

#Build Model

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
lr =  LogisticRegression()
lr.fit(X_train,y_train)
y_predict = lr.predict(X_test)

In [ ]:
print('Accuracy score of the Logistic Regression model is {}'.format(accuracy_score(y_test, y_predict)))

Accuracy score of the Logistic Regression model is 0.9991924440855307

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56875
           1       0.85      0.57      0.68        87

    accuracy                           1.00     56962
   macro avg       0.92      0.79      0.84     56962
weighted avg       1.00      1.00      1.00     56962

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(max_depth = 4)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [ ]:
print('Accuracy score of the Random Forest model is {}'.format(accuracy_score(y_test, y_pred)))

Accuracy score of the Random Forest model is 0.999403110845827

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56875
           1       0.86      0.56      0.68        87

    accuracy                           1.00     56962
   macro avg       0.93      0.78      0.84     56962
weighted avg       1.00      1.00      1.00     56962

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
n = 7
KNN = KNeighborsClassifier(n_neighbors = n)
KNN.fit(X_train, y_train)
y_predi = KNN.predict(X_test)

In [ ]:
print('Accuracy score of the K-Nearest Neighbor model is {}'.format(accuracy_score(y_test, y_pred)))

Accuracy score of the K-Nearest Neighbor model is 0.9991924440855307

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_predi))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56875
           1       0.86      0.56      0.68        87

    accuracy                           1.00     56962
   macro avg       0.93      0.78      0.84     56962
weighted avg       1.00      1.00      1.00     56962